:root{
    /* Textos */
    --titulos: 6.3rem;
    --subtitulos: 4.9rem;
    --encabezados: 2.3rem;
    --parrafos: 1.6rem;
    --tarjetas: 1.9rem;
}
.bd-grid{
    margin-left: auto;
    margin-right: auto;
}
.header{
    width: 100rem;
    height: 9rem;
    margin-top: 4rem;
    left: calc(50% - 50rem);
    border-radius: 50px;
    z-index: 2;
}
.header__logo img{
    width: 25rem;
}
.seccion-inicio{
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
.fondo-difuminado{
    display: block;
    position: absolute;
    width: 60%;
    height: 100%;
}
.fondo-difuminado::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #09418a 10%, transparent);
    opacity: .7;
}
.inicio__titulos{
    grid-column: 2;
    padding-right: 30%;
    z-index: 5;
}
.inicio__titulos h2{
    text-align: left;
    line-height: 1;

}
.inicio__titulos p{
    text-align: left;
}
.botones__contacto{
    right: 3rem;
    bottom: 3rem;
}
.seccion-nosotros{
    display: grid;
    grid-template-columns: 1fr 3fr 2fr 1fr;
    align-content: center;
}
.seccion-nosotros__textos{
    grid-column: 3;
    grid-row: 1 / 3;
    justify-content: center;
}
.seccion-nosotros__imagen{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    display: grid;
    justify-items: right;
}
.imagenCuadro-fondo{
    background-size: contain;
    max-width: 80%;
    margin: 0;
}
.imagenCuadro-GrandDental{
    width: 65%;
}
.seccion-especialidades{
    display: grid;
    grid-template-columns: 1fr 2fr 5fr 1fr;
}
.especialidades__textos{
    grid-column: 2;
}
.cuadricula-especialidades{
    grid-column: 3;
    grid-auto-rows: minmax(12rem, 16rem);
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    align-content: center;
    max-width: 820px;
    margin: 0 auto;
}
.titulo-especialidad{
    font-size: var(--parrafos);
}
.conocer-mas a{
    font-size: var(--parrafos);
}
.seccion-youtube{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr 1fr;
}
.seccion-youtube__textos{
    grid-column: 2;
}
.seccion-youtube__video{
    grid-column: 3;
}
.video-youtube{
    max-width: 620px;
    height: 36rem;
}
.seccion-galeria__cuadricula{
    max-width: 80%;
    grid-auto-rows: 15rem;
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
}
.galeria-video{
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    max-width: 100%;
}

/* nosotros.html */
.seccionMisionVision{
    background-size: contain;
}
.articuloMision{
    max-width: 100rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}
.imagenMisionVision{
    padding-left: 2rem;
    justify-content: flex-start;
}
.imagenMisionVision img{
    max-height: 40rem;
}
.textoArticulo h2{
    font-size: var(--subtitulos);
}
.listaArticuloMision li{
    font-size: var(--parrafos);
}
.articuloVision{
    max-width: 100rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    margin-top: 0;
}
.articuloVision .textoArticulo{
    grid-row: 1;
}
.articuloVision .imagenMisionVision{
    grid-column: 2;
    justify-content: flex-end;
    padding-left: 0;
}